<div class="flex flex-row flex-wrap justify-between p-4">
  <div
    class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 m-3"
    *ngFor="let item of teamData"
  >
    <div class="h-80">
      <img
        class="p-4 w-full h-full object-cover rounded-t-lg"
        src="../../../../assets/images/rcb.jpg"
        alt="product image"
      />
    </div>

    <div class="flex justify-center">
      <h2>{{item.name}}</h2>
    </div>

    <div class="px-5 pb-5">
      <div class="flex items-center gap-3 justify-between">
        <button
          style="font-size: 9px"
          class="bg-[#002D74] text-xs text-white rounded-xl p-2 mt-3 hover:scale-105 duration-300"
          (click)="addPlayer(item._id!)"
        >
          Add player
        </button>
        <button
          style="font-size: 9px"
          class="bg-[#002D74] text-white text-xs rounded-xl p-2 mt-3 hover:scale-105 duration-300"
          (click)="changeCaptain(item._id!)"
        >
          Change captain
        </button>
        <button
          style="font-size: 9px"
          class="bg-[#002D74] text-white text-xs rounded-xl p-2 mt-3 hover:scale-105 duration-300"
          (click)="changeCoach(item._id!)"
        >
          Change coach
        </button>
      </div>
    </div>
  </div>
</div>
